<!-- {{clientName()}} -->

@if(optionVisible == true){


  @for(items of options() ; track $index){
   
    @if(autoCompleteFor == 'client'){
      <option (click)="myId(clientval.value)" #clientval class="w-100 bg-dark text-light p-1 autocomplete-option" [value]='items.id'>{{items.NAME}}</option>
    }
    @else{
      <option (click)="myId(clientval.value)" #clientval class="w-100 bg-dark text-light p-1 autocomplete-option" [value]='items.id'>{{items.item_name}}</option>
    }
  
  }

}










  

