
<h3 class="mb-4 pl-2">User permission page</h3>

<div class="row mx-0 ">

    <div class="col-md-6 col-xl-6 col-sm-12 col-xs-12 mt-" >
         
        <select class="form-select"  #selectUserPermission (change)="openPermissionTable(selectUserPermission.value)">
            <option selected  value="novalue" >-- Select user for permisssion --</option>
            @for(user of userData ; track $index){
                <option value={{user.id}} >{{user.name}}</option>
            }
        </select>

    </div>

    <div class="col-md-6 col-xl-6 col-sm-12 col-xs-12" >

        <button class="btn btn-primary btn-sm">
            Save
        </button>

    </div>


</div>


@if(show_permission_table){

    <table>

        

    </table>

}
