<h3 class="mb-4 px-3">User permission</h3>

<div class="row mx-0">

    <div class="col-md-6 col-xl-6 col-sm-12 col-xs-12 mt-">

        <select class="form-select" #selectUserPermission (change)="openPermissionTable(selectUserPermission.value)">
            <option selected value="novalue">-- Select user for permisssion --</option>
            @for(user of userData ; track $index){
            <option value={{user.id}}>{{user.name}}</option>
            }
        </select>

    </div>

    <div class="col-md-6 col-xl-6 col-sm-12 col-xs-12">
        @if(show_permission_table && (add_permission || edit_permission)){

        <button (click)="insert_permissions()" class="btn btn-primary btn-sm">
            Save
        </button>
        <button (click)="resetPermissions()" class="btn btn-danger btn-sm mx-2">
            reset
        </button>

        }

    </div>


</div>


@if(show_permission_table){



<form [formGroup]="User_permission">

    <div formArrayName="permission_fields">

        <table class="table mt-3 mx-2">

            <thead>
                <tr>
                    <th>Menu</th>
                    <th>Add</th>
                    <th>Delete</th>
                    <th>Edit</th>
                    <th>View</th>
                </tr>
            </thead>

            <tbody >
                <tr *ngFor="let item of permission_fields.controls ; let i = index" [formGroupName]="i">
                    <td>
                        <input type="text" formControlName="menu_name" [readOnly]="true">
                        <input type="hidden" formControlName="user_id" [readOnly]="true">
                        <input type="hidden" formControlName="menu_id" [readOnly]="true">
                    </td>
                    <td><input type="checkbox" formControlName="add_p" ></td>
                    <td><input type="checkbox" formControlName="delete_p"  ></td>
                    <td><input type="checkbox" formControlName="update_p"  ></td>
                    <td><input type="checkbox" formControlName="view_p" ></td>
                </tr>
            </tbody>

        </table>


    </div>

</form>


}