* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html,
body {
    width: 100vw;
    height: 100Vh;
    margin: 0px;
    padding: 0px;
    position: relative;
}

/* Global colors start */

.my-color {
    color: #e9e9e9;
}

.bg-primary-my {
    background-color: #0d6efd;
}

.my-bg-b {
    background-color: #212529;
}

/* Global colors end */

/* scroll bar css start  */

/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #c1c1c1;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* scroll bar css end  */


/* **************************** Login page css start ********************************* */

.login-page-wrapper {

    width: 100vw;
    height: 100vh;
    position: relative;
    padding: 30px;

    .login-main {
        width: 100%;
        height: 100%;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        border-radius: 30px;
        position: relative;

        .login-form {
            position: relative;
            padding: 40px;
        }
    }

}


/* **************************** Login page css end ********************************* */


/* **************************** Layout css start ********************************* */

.project-layout-main-wrapper {

    width: 100vw;
    height: 100vh;
    position: relative;
    padding: 5px 5px 10px 5px;

    .natigation_main_wrapper {
        width: 100%;
        height: 40px;
        position: relative;
        margin: 0px 0px;
        border-radius: 10px;

        .user-profile-image {
            width: 30px;
            height: 30px;
            object-fit: cover;
        }

        .logo {
            filter: brightness(0) invert(1);
            margin-left: 20px;
        }

        .user-name {
            font-size: 70%;
        }

        .profile_section {
            gap: 15px;
            justify-content: end;
            position: relative;
        }
    }

    .sidebar_content_main_wrapper {
        width: 100%;
        height: calc(100% - 40px);
        margin: 0px 0px;
        border-radius: 10px;
        margin: 5px 0px;

        .sidebar_wrapper {

            .sidebar {
                height: 100%;
                padding: 20px 0px;
                border-radius: 10px;

                a {
                    padding: 10px;
                    text-decoration: none;
                    color: white;
                    border-radius: 5px;
                    cursor: pointer;
                }

                a:hover {
                    color: #0d6efd;
                    background-color: white;
                }

                .activeTab {
                    color: #0d6efd;
                    background-color: white;
                }

                .master-links {
                    gap: 20px;
                }

                .logout-link {
                    margin-top: auto;
                }

            }

        }

        .content_wrapper {

            padding: 0px 20px;
            height: 100%;
            overflow-y: auto;

            #liveSearchForm {
                padding: 20px 20px 30px 20px;
                box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
                border-radius: 10px;
                label{
                    white-space: nowrap;
                }
            }

            .tab-padding {
                padding: 10px;
            }
            .table-container{
                overflow-x: auto;
            }
            .dynamicPagination .my-pagination{
                cursor: pointer;
            }
            .table thead{
                white-space: nowrap;
                user-select: none;
            }
            .dynamicPagination{
                user-select: none;
            }
            .table thead th{
                cursor: pointer;
            }
            .imageRemoveBtn{
                margin: 10px;
            }
            .table-image{
                width: 30px;
            }
            #tableData {
                padding: 20px 20px 30px 20px;
                box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
                border-radius: 10px;
            }

        }
    }


}

/* **************************** Layout css end ********************************* */



/* **************************** Dashboard css start ********************************* */


    .dashboard-container{

        .dashboard-card{
            padding: 20px;
            box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
            i{
                font-size: 220%;
            }
        }
        .dashboard-card:hover{
            margin-top: -5px;
        }

        .card-link{
            text-decoration: none;
            color: #212529;
        }
        .bold-number{
            font-weight: 800;
        }

    }


/* **************************** Dashboard css end ********************************* */



