<div class="row ">

    @for(menu of menuData ; track $index){

        @if(menu.route !== '/dash/dashboard'){
            <div class="col-md-3  col-md-3 col-sm-6 col-xs-6 mb-3">
                <a href="" class="text-dark link-tag-dash" routerLink="{{menu.route}}">
                    <div class="px-3 bg-light rounded pt-2 pb-2 ">
                        <div class="row">
                            <div class="col-9 my-auto">
                                <h4>{{menu.menu_name}}</h4>
                                
                                @if(menu.route == '/dash/user-master' ){
                                    <p>{{user_count}}</p>
                                }
                                @if(menu.route == '/dash/client-master'){
                                    <p>{{client_count}}</p>
                                }
                                @if(menu.route == '/dash/item-master'){
                                    <p>{{item_count}}</p>
                                }
                                @if(menu.route == '/dash/invoice'){
                                    <p>{{total_invoice_amount}}</p>
                                }
                                
                            </div>
                            <div class="col-3 my-auto">
                                <i class="fs-3 {{menu.icon_class}} px-2 pt-2 pb-2 bg-white text-center rounded"></i>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        }

        

    }

</div>