<div class="row ">

    <div class="col-md-3  col-md-3 col-sm-6 col-xs-6">
        <a href="" class="text-dark link-tag-dash" routerLink="/dash/user-master">
            <div class="px-3 bg-light rounded pt-2 pb-2 ">
                <div class="row">
                    <div class="col-9 my-auto">
                        <h3>Users</h3>
                        <p>{{user_count}}</p>
                    </div>
                    <div class="col-3 my-auto">
                        <i class="fs-3 bi bi-person-fill px-2 pt-2 pb-2 bg-white text-center rounded"></i>
                    </div>
                </div>
            </div>
        </a>
    </div>

    <div class="col-md-3 col-md-3 col-sm-6 col-xs-6">
        <a href="" class="text-dark link-tag-dash" routerLink="/dash/client-master">
        <div class="px-3 bg-light rounded pt-2 pb-2">
            <div class="row">
                <div class="col-9 my-auto">
                    <h3>Clients</h3>
                    <p>{{client_count}}</p>
                </div>
                <div class="col-3 my-auto">
                    <i class="fs-3 bi bi-people-fill px-2 pt-2 pb-2 bg-white text-center rounded"></i>
                </div>
            </div>
        </div>
    </a>
    </div>

    <div class="col-md-3 col-md-3 col-sm-6 col-xs-6">
        <a href="" class="text-dark link-tag-dash" routerLink="/dash/item-master">
        <div class="px-3 bg-light rounded pt-2 pb-2">
            <div class="row">
                <div class="col-9 my-auto">
                    <h3>Items</h3>
                    <p>{{item_count}}</p>
                </div>
                <div class="col-3 my-auto">
                    <i class="fs-3 bi bi-bag-plus-fill px-2 pt-2 pb-2 bg-white text-center rounded"></i>
                </div>
            </div>
        </div>
        </a>
    </div>

    <div class="col-md-3 col-md-3 col-sm-6 col-xs-6">
        <a href="" class="text-dark link-tag-dash" routerLink="/dash/invoice">
        <div class="px-3 bg-light rounded pt-2 pb-2">
            <div class="row">
                <div class="col-9 my-auto">
                    <h3>Total invoice</h3>
                    <p>{{total_invoice_amount}}</p>
                </div>
                <div class="col-3 my-auto">
                    <i class="fs-3 bi bi-journal-bookmark-fill px-2 pt-2 pb-2 bg-white text-center rounded"></i>
                </div>
            </div>
        </div>
        </a>
    </div>



</div>